Package: oracle-java7-libs
Source: oracle-java7
Version: 0.0.17-precise
Architecture: amd64
Maintainer: Michael Brindle <mbrindle@willowgarage.com>
Installed-Size: 25
Depends: libxtst6, libgtk2.0-0, libstdc++6, gtk2-engines-murrine
Section: shared
Priority: extra
Description: Meta-Package for 32-bit java dependencies
