#!/usr/bin/make -f
# -*- makefile -*-

export DH_ALWAYS_EXCLUDE=CVS:.svn

#export DEB_BUILD_GNU_TYPE:amd64-linux-gnu
#export DEB_BUILD_ARCH:


include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/cmake.mk #Cmake stuf
